@font-face {
	font-family: 'TTHoves Bold';
	src: url('../fonts/TTHoves-Bold.ttf') format('truetype'),
		url('../fonts/TTHoves-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'TTHoves Regular';
	src: url('../fonts/TTHoves-Regular.ttf') format('truetype'),
		url('../fonts/TTHoves-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'TTHoves Light';
	src: url('../fonts/TTHoves-Light.ttf') format('truetype'),
		url('../fonts/TTHoves-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'TTHoves Medium';
	src: url('../fonts/TTHoves-Medium.ttf') format('truetype'),
		url('../fonts/TTHoves-Medium.woff2') format('woff2');
}